<a href="https://colab.research.google.com/github/AldinCorreya/VibeChecker/blob/main/Aldin_250100_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Hello everyone!**

This assignment is based on basics of python and then gradually moves on to the python libraries required for working in ML.

> **Workflow**

Above each cell there are some instructions and resources (wherever necessary) for completing the question. You are supposed to solve the questions in the cells below the question text, feel free to add cells if you want.

> **Note:** All the documentations provided are very extensive and you do not need to know everything but you are expected to be able to refer to them as and when required.

# Copy this notebook in your drive and in submission please rename the file as <name_roll.no_PYTHON>

# Basic Python

If you are absolutely new to python, quickly go through this video: https://www.youtube.com/watch?v=K5KVEU3aaeQ&ab_channel=ProgrammingwithMosh

This will help you brush up your python to get your started.
Please note that things like conditional if else statements, basic string operations, tuples, etc. aren't included separately in this task but you are obviously expected to be familiar with them. *italicised text*

***Print hello world.***

In [ ]:
print("hello world")

***Print the sum of two numbers which the user inputs.***

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
print("The Sum=",a+b)

***Loops (Logical Thinking)***

Print the following patterns using a loop of your choice:


![pt1.png]()

![pt2.png]()

![pt3.png]()

![pt4.png]()

In [ ]:
for i in range(1,6):
  print('*****')

In [ ]:
for i in range(1,6):
  for j in range(0,i):
    print(i,end='')
  print()

In [ ]:
v=[0,1]
for i in range(1,6):
  if i%2==0:
    k=0
  else:
    k=1
  for j in range(0,i):
    print(v[k],end=' ')
    if k==1:
      k=0
    else:
      k=1
  print()

***Consider a list l = [1,12,43,4,15,26].***


1. Write this list in python code.
2. Append a number to this list.
3. Sort this list in increasing order.
4. Reverse the sorted list.
5. Repeat questions (1-4) using loops and list indexing (Tip: if you can't figure out sorting, don't worry, you may skip it for now, those interested can look up "bubble sort" to get a hint).

In [ ]:
l = [1,12,43,4,15,26]
for i in range(len(l)):
  a=int(input("enter number"))
  l.append(a)
  print(l)
  l.sort()
  print(l)
  l.reverse()
  print(l)

***Functions***

(Tip: Before starting this section, brush up on strings in python)

Write a function defintion that:
1. Adds the string "Hello, " to the beginning and "!" to the end of any given input.
2. Takes in two numbers, squares each number, then returns the sum of both squares.
3. Takes in value and returns the count of the nubmer of vowels in a sequence.
4. Takes in string and returns the string without any vowels.
5. Takes in a list of strings and returns the shortest string in the list.
6. Takes in sequence of numbers and returns the odd numbers in a list.
7. Takes in sequence of numbers and returns all the numbers added together.

In [ ]:
def function(str):
  new='Hello'+str+'!'
  return new
def squares(m,n):
  return m*m+n*n
def vowels(str):
  count=0
  for i in str.lower():
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
      count+=1
  return count
def string(str):
  for i in str.lower():
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
      str=str.replace(i,'')
  return str
def shortest(l):
  min=l[0]
  for i in l:
    if len(i)<len(min):
      min=i
  return min
def odd(l):
  ol=[]
  for i in l:
    if i%2!=0:
      ol.append[i]
  return ol
def sum(l):
  for i in l:
    sum+=i
  return sum

***Sets***

(Read up on sets in python)

Write a function definition that:
1. Takes in a list and returns a set with only the unique values from that list.
2. Takes two lists and returns a single set with the values that each list has in common.

(Bonus - Try doing the above questions from scratch using loops)

# Python for ML

**Brief on AI/ML/DL:**

Artifical Intelligence is a very broad term that refers to any method/process which can help a machine perform human like tasks. ML is a subset of AI and DL is a subset of ML.

Three major libraries used very widely for data processing, visualisation and manipulation are: `numpy`,`pandas` and `matplotlib`. As you explore the domains of ML more, you will soon encounter domain specific libraries like `open-cv`, `scikit-learn`, `nltk`, etc. and as you dive into DL,`tensorflow` and `pytorch` would be your best friends!

This next section deals with numpy, pandas and matplotlib

In [ ]:
# ------------------------------------------------ NUMPY ------------------------------------------------
# Documentation: https://numpy.org/doc/stable/reference/index.html#reference
# Hands on tutorial: https://www.w3schools.com/python/numpy/numpy_intro.asp

1. Crate an array of 10 zeros.
2. Create an array of 10 fives.
3. Create a 3x3 matrix with values ranging from 0 to 8
4. Use NumPy to generate a random number between 0 and 1
5. Create an array of 20 linearly spaced points between 0 and 1

In [ ]:
# your solution here

Replicate the following outputs:

In [ ]:
# ------------------------------------------------ MATPLOTLIB ------------------------------------------------
# Documentation: https://matplotlib.org/stable/api/pyplot_summary.html
# Hands on tutorial: https://www.w3schools.com/python/matplotlib_pyplot.asp

**Line plotting**

We begin by simply plotting a straight line, you many choose any line of your choice. Generate your own data! (atleast 100 datapoints)

**Matplotlib figures**

We will now deal with matplotlib figure objects and creating axes using them. You are tasked with creating a figure object and adding two set of axes in that figure make sure that they are appropriately placed.

**Now use the list x generated earlier and create two new y lists to plot on the axes you just created.**

**Plots**

Plot the following plots using matplotlib, you many generate your own data or get it from the internet:

1. Histogram
2. Scatter Plot
3. Boxplot
4. Pie charts

(Bonus - Read up on the use-case of histograms in EDA and ML in general, they are VERY useful! Also, look up **Violin plots** if you have extra time)

In [ ]:
# your solution here

In [ ]:
# ------------------------------------------------ PANDAS ------------------------------------------------
# Documentation: https://pandas.pydata.org/docs/reference/index.html
# Hands on tutorial: https://www.w3schools.com/python/pandas/pandas_intro.asp
# You will need a csv file for this part of the assignment, download it here: https://www.kaggle.com/datasets/shibumohapatra/house-price

**Perform the following operations on the csv file:**

1. Read the csv into a pandas dataframe and back it up (you will thank yourself for doing this when you mess up something while manipulating the dataframe).
2. Explore the dataframe (find out the different ways you can do this).
3. Play around with each column of the dataframe and figure out ways to modify them according to your needs.
4. Read up on ``iloc`` and demonstrate it on the dataframe.
5. Handle ``null`` values in the dataframe.
6. Try dropping rows/columns.
7. Filter rows where a string column starts with a specific letter.
8. Create a new column as a combination of two existing columns (this is feature engineering which you may use in your ML journey).

In [ ]:
# your solution here